<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ICARE APPLE{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'applelogo.png' %}" style="width: 24px; height: 24px; margin-right: 8px; vertical-align: middle;">
            ICARE APPLE - CONCERTOS
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Sobre</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'team' %}">Produtos e Servicos</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contato</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'localizacao' %}">Localização</a></li>
        </ul>
    </nav>
    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>